@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	background-color: #f2f2f2;
}

body,
a {
	// font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Poppins', sans-serif;
	color: #503e33;
}

a {
	text-decoration: none;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	max-height: 100vh;
}

body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

/* -------------- */

.sideMargin {
	padding: 0 24px;
}

.topBottomPadding {
	padding-top: 48px;
	padding-bottom: 48px;

	@media (min-width: 900px) {
		padding-top: 88px;
		padding-bottom: 88px;
	}
}

.topMargin {
	margin-top: 80px;
}

@keyframes fullWidthLeftToRight {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

[data-aos='fullWidthLeftToRight'] {
	transition: all;
	width: 0%;
	&.aos-animate {
		width: 100%;
	}
}

[data-aos='fullWidthRightToLeft'] {
	transition: all;
	width: 100%;
	background-color: transparent;
	&.aos-animate {
		background-color: #f2f2f2;
		width: 0%;
	}
}
